<!DOCTYPE html>
<html>
    <head>
        <title>Vitrine</title>
        <link href="/css/flickity.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <script src='/js/flickity.pkgd.min.js'></script>
        
    </head>
    <body>
        <section>
            <h2>Most popular products</h2>
            <div id="mostpopular_carousel" class="carousel" data-flickity='{ "wrapAround": true }'>
                <% if(mostpopular) { %>
                    <% for(var i = 0; i < mostpopular.length; i++) {%>
                        <div class="carousel-cell">
                            <a href="<%=mostpopular[i].url%>">
                                <img src="<%=mostpopular[i].images.default%>" />
                                <h2><%=i%>°</h2>
                                <h3><%=mostpopular[i].description%></h3> <br/>
                                <h3><s><%=mospopular[i].oldPrice%></s></h3>
                                <h3>Por: </h3> <h2><%=mospopular[i].price%></h2>
                                <h3><%=mospopular[i].installment.count%>x R$<%=mospopular[i].installment.price%></h3>
                            </a>
                        </div>
                    <% } %>
                <% } %>
            </div>
            <h2>Products On sale</h2>
            <div id="pricereduction_carousel" class="carousel" data-flickity='{ "wrapAround": true }'>
                <% if(pricereduction) { %>
                    <% for(var i = 0; i < pricereduction.length; i++) {%>
                        <div class="carousel-cell">
                            <a href="<%=pricereduction[i].url%>">
                                <img src="<%=pricereduction[i].images.default%>" />
                                <h2></h2> <!--Sale %-->
                                <h3><%=pricereduction[i].description%></h3> <br/>
                                <h3><s><%=pricereduction[i].oldPrice%></s></h3>
                                <h3>Por: </h3> <h2><%=pricereduction[i].price%></h2>
                                <h3><%=pricereduction[i].installment.count%>x R$<%=pricereduction[i].installment.price%></h3>
                            </a>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </section>
    </body>
</html>